<div class="container">
  <div class="row">
    <div class="btn-group" role="group" aria-label="Default button group">
      <button type="button" [ngClass]="{'btn-primary': api == 'general'}" (click)="setApi('general')" class="btn btn-default">通用字体识别</button>
      <button type="button" [ngClass]="{'btn-primary': api == 'handwriting'}" (click)="setApi('handwriting')" class="btn btn-default">手写字体识别</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <image-upload [url]="imageUrl" [beforeUpload]="onBeforeUpload" (uploadFinished)="onUploadFinished($event)" 
      buttonCaption="选择图片"
      dropBoxMessage="拖拽图片到这里" clearButtonCaption="清除">
    </image-upload>
  </div>
</div>