
.svg-text-underline, .svg-text {
    font-family: Verdana;
    font-size: 12px;
    fill: #0000ff;  
  }
  
  .svg-text-underline {
    text-decoration: underline;
  }

  .table-root {
    background-color: rgba(250, 235, 215, 0.5);
    top: 10px;
    left: 10px;
  }

  .table-element, .table-root  {
    border: 1px solid black;
    position: absolute;
  }

  .field-title {
    margin: 0px;
    float:left;
    overflow: hidden;
    height: 100%;
    border: 1px solid black;
  }

  .field-text {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    border: 1px solid black;
  }
  
  #table-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  #svg-container {
    position: relative;
  }
  
  #contextMenu {
    position: absolute;
    display:none;
  }
