
.svg-text-underline, .svg-text {
    font-family: Verdana;
    font-size: 12px;
    fill: #0000ff;  
  }
  
  .svg-text-underline {
    text-decoration: underline;
  }

  .table-root {
    background-color: rgba(250, 235, 215, 0.5);
    top: 10px;
    left: 10px;
    border: 1px solid black;
    position: absolute;
  }

  .table-element  {
    border: 1px solid black;
    position: absolute;
    width: 160px;
    height: 40px;
  }

  .field-title-input {
    background-color:rgba(0, 0, 0, 0);
  }

  .field-title {
    margin: 0px;
    float:left;
    overflow: hidden;
    width: 80px;
    height: 100%;
    border: 1px solid black;
  }

  .field-text {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    border: 1px solid yellow;
  }
  
  #table-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  #svg-container {
    position: relative;
  }
  
  #contextMenu {
    position: absolute;
    display:none;
  }

  .form-multiline .form-group {
    margin-bottom: 15px;
    margin-right: 30px;
  }
  .form-multiline label,
  .form-multiline .form-control {
    margin-right: 15px;
  }