<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">字符识别演示程序</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']">上传表单</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/sample']" [queryParams]="{id:1, api: 'general' }">示例 01</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/sample']" [queryParams]="{ id:2, api: 'general' }">示例 02</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/sample']" [queryParams]="{ id:3, api: 'general' }">示例 03</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">手写识别示例 <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <a [routerLink]="['/sample']" [queryParams]="{ id:4, api: 'handwriting' }">示例 04</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <a [routerLink]="['/sample']" [queryParams]="{ id:5, api: 'handwriting' }">示例 05</a>
                </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <!-- Example row of columns -->
  <router-outlet></router-outlet>

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div>
<!-- /container -->